body,html,h1,h2,h3,h4,h5,h6,
p,div,dl,dt,dd,ul,ol,li,blockquote,a,address,
span,em,img,strong,sub,sup,del,s,q,mark,code,
header,nav,main,footer,article,section,aside,
form,fieldset,legend,input,textarea,label,select,option,button, th,td {
    line-height:1.0; font-size:1.0em; font-weight:normal; margin:0; padding:0; font-style:normal;box-sizing: border-box; 
    font-family: "Pretendard", sans-serif;
    box-sizing:border-box;
}
ol, li, ul {list-style:none;}
a {color:black; text-decoration:none;}
button{cursor: pointer; background: none; border: 0;}
input, textarea {appearance:none; border-radius: 0; border: 0; outline: none;}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance:none;
    appearance:none;
}
fieldset {border: 0;}
legend {display: none;}
select, option {outline: none; border: 0; appearance: none;}
table, tr, td, th {padding: 0; margin: 0; border-collapse: collapse;}
th {text-align: left;}